.button {
    background-color: var(--green);
    border: 1px solid #02939C;
    border-radius: .5rem;
    box-sizing: border-box;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
    color: var(--white);
    cursor: pointer;
    font-size: 1.4rem;
    padding: .7rem 1rem;
}

.button > a {
    text-decoration: none;
}